[flake8]
ignore = F401,
max-line-length = 88
docstring-convention = google
exclude=
    # --- Byte-compiled / optimized / DLL files ---
    __pycache__/,
    *.pyc,
    *.pyo,
    *.pyd,

    # --- Input Files ---
    data/,

    # --- Virtual Environment ---
    venv/,
    .env/,
    .venv/,
    env/
