# -- Build Artifacts --

build/
*.egg-info/

# --- Byte-compiled / optimized / DLL files ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Logs ---

logs/

# --- Temporary ---

*.swp
*.bak
*.tmp
*.temp

# --- Virtual Environment ---
venv/
.env/
.venv/
env/
